<%- include('./Partials/header.ejs') %>

<div class="col-sm-6 mt-5 mx-3 jumbotron">
    <h3 class="text-center">update password</h3>
    <form action="/admin/admin_edit_Password" id="password" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="admin_password" class="pl-2 font-weight-bold">New Password</label> &nbsp;&nbsp;<small id="smsg1"></small>
            <input type="text" id="admin_password" class="form-control" name="admin_password">
          </div>
          <div class="modal-footer">
            <span id="messagelog"></span>
            <button type="submit" onclick="courseadd()" class="btn btn-danger" id="coursesubmitbtn" name="coursesubmitbtn">Submit</button>
            <a href="/admin" class="btn btn-secondary">close</a>
          </div>
          <p style="color: green;"><%=msg%></p>
    </form>
</div>



<%- include('./Partials/Footer.ejs') %>
<script>
  $("#password").validate({
  rules: {
      
      
      admin_password: {
          required: true,
      }
  },
  messages: {
    
      
      admin_password: {
          required: "Please enter your Password"
      },
  }
  
});
</script>

 