
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv = "refresh" content = "3; url = http://localhost:3000/" />
    <title>Redirecting To My Profile</title>
</head>
<body>
    <b>Transaction status is success</b>
    <br>
    Redirecting to My Profile        
</body>
</html>